# Git
.git
.gitignore

# Gradle
.gradle
build
!gradle/wrapper/gradle-wrapper.jar

# IDE files
.idea
*.iml
.vscode
.project
.settings
.classpath

# Logs
logs
*.log

# OS specific
.DS_Store
Thumbs.db

# Test files
src/test

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Documentation 
README.md
docs 